<div class="container">
<div class="row">
    <div class="col-lg-4">
       <div class="card card-outline-danger text-xs-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p><%= @contenuee.find(1).title%></p>
          <footer><%= @contenuee.find(1).url%></footer><br><br><br><br>
        </blockquote>
  </div>
</div>
    </div>
    <div class="col-lg-4">
       <div class="card card-inverse card-danger text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer><br><br>
    </blockquote>
  </div>
</div>
    </div>
    <div class="col-lg-4">
          <div class="card card-outline-danger text-xs-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
         <p><%= @contenuee.find(1).title%></p>
          <footer><%= @contenuee.find(1).url%></footer><br><br><br><br>
        </blockquote>
  </div>
</div>
    </div>
  <div class="col-lg-4">
       <div class="card card-outline-danger text-xs-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
         <p><%= @contenuee.find(1).title%></p>
          <footer><%= @contenuee.find(1).url%></footer><br><br><br><br>
        </blockquote>
  </div>
</div>
    </div>
  <div class="col-lg-4">
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
</div>
    </div>
  <div class="col-lg-4">
       <div class="card card-outline-danger text-xs-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
         <p><%= @contenuee.find(1).title%></p>
          <footer><%= @contenuee.find(1).url%></footer>
          <br><br><br><br>
        </blockquote>
  </div>
</div>
    </div>
  </div>
</div>
<%= link_to "All content", contenues_path %>
</div>